@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.newColor {
    background-color: black;
    color: #fff;
}

.material-symbols-outlined {
    font-size: 20px;
    padding: 2px;

    margin: -3px 0px;
}


.stays>ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;
    list-style: none;
    padding: 26px;
    font-size: 1em;
    font-weight: 800;

}

.stays>ul>li>a {
    text-decoration: none;
}

.links {
    width: 50%;
    display: flex;
    gap: 10px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid gray;
    border-radius: 12px;
    height: 8vh;
    margin: 12px 0;
}

.links>button {
    border-style: none;
    cursor: pointer;

}

.rightToogle {
    float: right;
}

.rightToogle>button {
    width: 30px;
    height: 29px;
    background: darkgray;
    border-radius: 21px;
}

.main-links>ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;
    list-style: none;
    padding: 26px;
    font-size: 1em;
}

.mainBody {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}


.box-one>img {
    width: 300px;
    height: 300px;
    object-fit: contain;
    background-size: cover;
}

.box-two>img {
    width: 300px;
    height: 300px;
    object-fit: contain;
    background-size: cover;
}

.box-three>img {
    width: 300px;
    height: 300px;
    object-fit: contain;
    background-size: cover;
}

.box-four>img {
    width: 300px;
    height: 300px;
    object-fit: contain;
    background-size: cover;
}

.gatway {
    height: 40vh;
    width: 100%;
    background: #f7f7f7;
}

.gatway>h2 {
    padding: 21px;
    margin: 17px 0px;
}

.otherGatwayLinks {
    padding: 21px;
    margin: 17px 0px;
}

.otherGatwayLinks>ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 22px;
    list-style: none;
}

.popularElement>ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 22px;
    list-style: none;
}

.popularElement>ul>li>a {
    text-decoration: none;
}

.popularElement>ul {
    display: grid;
    align-content: space-evenly;
    justify-content: space-around;
    align-items: stretch;
    grid-template-columns: auto auto auto auto auto auto;
    gap: 14px;
    justify-items: stretch;
    list-style: none;
}

.footer>ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 10px;
    list-style: none;
}